VITE_APP_URL=""
VITE_SERVER_URI=""
VITE_RESUME_LINK=""
VITE_LINKEDIN_LINK=""
VITE_FACEBOOK_LINK=""
VITE_INSTAGRAM_LINK=""
VITE_PHONE_NUMBER=""
VITE_WHATSAPP_LINK=""
VITE_TIKTOK_LINK=""
VITE_EMAIL_ADDRESS=""
VITE_GITHUB_LINK=""
